# npm
package-lock.json
node_modules

# yarn
yarn.lock

# vscode
.vscode

# vuepress
docs/.vuepress/dist
docs/.vuepress/config.bundled_*.mjs
docs/.vuepress/.temp
docs/.vuepress/.cache

# VuePress 缓存
node_modules/.cache/

# 百度链接推送
urls.txt

# mac
.DS_Store
.idea
